body {
   font-family: Times New Roman, sans-serif;
}

body > h2 {
	text-align: center;
	color: darkorchid;
	}
	
section > h3 {
	text-align: center;
	padding-bottom: 20px;
	}

	
.menu-text {
	margin-right: auto;
	background-color: plum;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	}
	
#header-nav {
  background-color: darkorchid;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Food, LLC */
  color: plum;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: orchid;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.7em;
  }
 
 #nav-list a {
	color: #000;
	text-align: center;
    line-height: 5px;
}
#nav-list a span .Sushi  {
	padding-bottom: 15px;
}


#nav-list hr {
	width: 80%;
	}
  
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
